header {
    display: flex;
    justify-content: flex-start;
}

.logoimg {
    width: 20em;
    height: 20em;
}

.headerNav {
    margin-top: 15em;
}

.btn {
    display: inline;
    background-color: #00c3b2;
    padding: .5em 2em;
    color: #191919;
    margin-right: .5em;
    font-family: 'DM Serif Display', serif;
    font-size: medium;
}

.btn:hover {
    display: inline;
    background-color: #191919;
    padding: .5em 2em;
    color: #00c3b2;
    margin-right: .5em;
    font-family: 'DM Serif Display', serif;
    font-size: medium;
}

form {
    display: block;
    width: 100%;
    padding: 2em;
}

.editForm {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

.editFormHeader {
    width: 100%;
    color: #191919;
    font-family: 'DM Serif Display', serif;
    font-size: 1.35em;
    display: block;
    text-shadow: #191919;
    padding: .75em 1em .75em 1.5em;
    margin: 0;
    font-weight: 200;
}

input {
    display: block;
    margin: 5px;
    width: 50%;
    margin-bottom: 2em;
    padding: .5em 0;
    border: none;
    border-bottom: 1px solid #eaeaea;
    padding-bottom: 1.25em;
    color: #757575;
    justify-content: left;
    font-family: 'DM Serif Display', serif;
    font-size: medium;
}

label {
    font-family: 'DM Serif Display', serif;
    font-size: Large;
}

a {
    text-decoration: none;
}