.logo {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.logoimg {
    max-width: 30em;
    width: 100%;
    height: auto;
}

form {
    display: block;
    width: 100%;
    padding: 2em;
}

.signupform {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

.formheader {
    width: 100%;
    color: #191919;
    font-family: 'DM Serif Display', serif;
    font-size: 1.35em;
    display: block;
    text-transform: uppercase;
    padding: .75em 1em .75em 1.5em;
    margin: 0;
    font-weight: 200;
}

input {
    display: block;
    margin: auto auto;
    width: 50%;
    margin-bottom: 2em;
    padding: .5em 0;
    border: none;
    border-bottom: 1px solid #eaeaea;
    padding-bottom: 1.25em;
    color: #757575;
    justify-content: center;
    font-family: 'DM Serif Display', serif;
    font-size: medium;
}

.btn {
    display: inline;
    background-color: #00c3b2;
    padding: .5em 2em;
    color: #191919;
    margin-right: .5em;
    font-family: 'DM Serif Display', serif;
    font-size: medium;
}

.btn:hover {
    display: inline;
    background-color: #191919;
    padding: .5em 2em;
    color: #00c3b2;
    margin-right: .5em;
    font-family: 'DM Serif Display', serif;
    font-size: medium;
}

.goBack {
    display: flex;
    justify-content: center;
    font-family: 'DM Serif Display', serif;
}

a {
    text-decoration: none;
}