header {
    display: flex;
    justify-content: flex-start;
}

.logoimg {
    width: 20em;
    height: 20em;
}

.headerNav {
    margin-top: 15em;
}

.btn {
    display: inline;
    background-color: #00c3b2;
    padding: .5em 2em;
    color: #191919;
    margin-right: .5em;
    font-family: 'DM Serif Display', serif;
    font-size: medium;
}

.btn:hover {
    display: inline;
    background-color: #191919;
    padding: .5em 2em;
    color: #00c3b2;
    margin-right: .5em;
    font-family: 'DM Serif Display', serif;
    font-size: medium;
}

h2 {
    font-family: 'DM Serif Display', serif;
}

.grid {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 20px;
}

.storeName {
    font-family: 'DM Serif Display', serif;
    font-size: larger;
}

.storeTag {
    font-family: 'DM Serif Display', serif;
}

.item {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding-bottom: 5px;

}

.item:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

a {
    text-decoration: none;
}