* {
}

.logo {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
}

.logoimg {
    max-width: 30em;
    width: 100%;
    height: auto;
}

nav a {
    background-color: #191919;
    color: #00c3b2;
    font-size: larger;
    height: 5em;
    width: 10em;
    font-family: 'DM Serif Display', serif;
    padding: 2em;
}

.log-form {
    width: 40%;
    min-width: 320px;
    max-width: 475px;
}

form {
    display: block;
    width: 100%;
    padding: 2em;
}

.loginheader {
    width: 100%;
    color: #191919;
    font-family: 'DM Serif Display', serif;
    font-size: 1.35em;
    display: block;
    padding: .75em 1em .75em 1.5em;
    margin: 0;
    font-weight: 200;
}

input {
    display: block;
    margin: auto auto;
    width: 100%;
    margin-bottom: 2em;
    padding: .5em 0;
    border: none;
    border-bottom: 1px solid #eaeaea;
    padding-bottom: 1.25em;
    color: #757575;
}

.btn {
    display: inline-block;
    background-color: #00c3b2;
    padding: .5em 2em;
    color: #191919;
    margin-right: .5em;
    font-family: 'DM Serif Display', serif;
}