body {
  margin: 0;
  font-family: 'DM Serif Display', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'DM Serif Display', serif;
}

.header {
  margin: 2em 0 2em 2em;
  padding-bottom: 1em;
  border-bottom: 1px solid;
}

.header a {
  margin: 0 1em 0 1em;
  font-size: 2em;
  text-decoration: none;
  color: #191919;
}

.header a:hover{
  color: #00c3b2;
  background-color: #191919;
}

.content {
  margin-left: 2em;
  font-size: 1.5em;
}

.message {
  color: red;
  font-size: 0.7em;
}
